**/.DS_Store


# file types
*.py
*.h5

# files
Drive.ai Dataset Sample LICENSE
LICENSE

# folders
images
datasets
__pycache__
dataset
font
data
model_data
nb_images
out
yad2k

# folders directories
bin/
lib/
include/