**/.DS_Store

# file types
*.py
*.h5
*.gz
*.txt
*.wav
*.png
*.json

# files
Drive.ai Dataset Sample LICENSE
LICENSE

# folders
images
datasets
__pycache__
dataset
font
data
model_data
nb_images
out
yad2k
keras-facenet_tf23
keras-facenet-h5
pretrained-model
output
model
models
XY_dev
XY_train

# folders directories
bin/
lib/
include/