**/.DS_Store


# file types
*.py
*.h5
*.gz

# files
Drive.ai Dataset Sample LICENSE
LICENSE

# folders
images
datasets
__pycache__
dataset
font
data
model_data
nb_images
out
yad2k
keras-facenet_tf23
keras-facenet-h5
pretrained-model

# folders directories
bin/
lib/
include/